.wiki-top-category-list {
    padding: 0.5em 2px 0px 2em;
    padding-left:0;
}
.wiki-top-category-list.sub {
    padding: 0.5em 2px 0px 2em;
}

.wiki-top-category-list li {
    list-style: outside none none;
    background: none;
    padding: 0;
    font-size: 10pt;
}

.sidebar-left ul > li a {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
    padding-left: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sidebar-left  ul > li a.active {
    background-color: #efefef;
    border-left: 4px solid #6a6a6a;
    color: #000;
}

.sidebar-left  ul > li a.active:hover {
    text-decoration: none;
}